
<head>
    <link rel="stylesheet" href="~/css/layout.css">
    <link href="~/css/admin-area.css" rel="stylesheet">
</head>

<body>

    <section>
        <main class="principal">
            <a asp-action="Create" asp-controller="cadastroVagasEmpregos">
                <img src="~/img/vagaDeEmprego.jpg" alt="Cadastrar Vagas"
                     class="cadastrar-vagas">
            </a>
            <a asp-action="Create" asp-controller="cadastroCursos">
                <img src="~/img/cadastrarCurso.jpg" alt="Cadastrar Curso"
                     class="cadastrar-curso">
            </a>
            <a asp-action="verCursosIndicados" asp-controller="Home">
                <img src="~/img/verCursos.jpeg" alt="Ver Cursos Indicados"
                     class="ver-casas">
            </a>
            <a asp-action="verCasasIndicadas" asp-controller="Home">
                <img src="~/img/verCasas.png" alt="Ver Casas Indicadas"
                     class="ver-casas">
            </a>
            <a asp-action="verCandidatosVoluntarios" asp-controller="Home">
                <img src="~/img/verVoluntarios.jpg"
                     alt="Ver Voluntários Cadastrados" class="ver-voluntarios">
            </a>
            <a asp-action="verCandidatosParceiros" asp-controller="Home">
                <img src="~/img/verParceiros.jpg"
                     alt="Ver Parceiros Cadastrados" class="ver-parceiros">
            </a>
        </main>
    </section>


</body>