
<head>
    <link rel="stylesheet" href="~/css/layout.css">
    <link href="~/css/informacoesLegais.css" rel="stylesheet">
</head>


<body>
    <main class="principal columns">
        <section class="column main-column" id="primeira">
            <a class="artigo first-artigo"
               href="https://ibdfam.org.br/noticias/8452/Homossexuais+podem+doar+sangue+h%C3%A1+um+ano%3B+decis%C3%A3o+do+STF+foi+passo+importante+pelos+direitos+da+popula%C3%A7%C3%A3o+LGBTI">
                <figure class="artigo-image is-4by3">
                    <img src="~/img/doe-sangue.jpg" alt="">
                </figure>
                <div class="artigo-body">
                    <h2 class="article-title">
                        Homossexuais podem doar sangue há um ano; decisão do STF foi
                        passo importante pelos direitos da população LGBTQIA+
                    </h2>
                    <p class="artigo-content">
                        Há um ano, a maioria dos ministros do Supremo Tribunal Federal – STF entendeu como
                        inconstitucional o impedimento à doação de sangue por homens que mantêm relações sexuais com
                        pessoas do mesmo sexo, como homossexuais e bissexuais.
                    </p>
                </div>
            </a>

            <div class="columns">
                <div class="column nested-column">
                    <a class="artigo"
                       href="https://www.cnnbrasil.com.br/saude/10-anos-da-politica-nacional-de-saude-lgbt-coloca-la-em-pratica-ainda-e-um-desafio/">
                        <figure class="artigo-image is-16by9">
                            <img src="~/img/saude-lgbt.jpg" alt="">
                        </figure>
                        <div class="artigo-body">
                            <h2 class="artigo-title">
                                10 anos da política nacional de saúde LGBT: colocá-la em prática ainda é um desafio
                            </h2>
                            <p class="artigo-content">
                                Especialistas em saúde pública consultados pela CNN apontam os desafios para que se
                                coloque em prática
                                o atendimento integral e a promoção da saúde dessa população.
                                <br>
                                No dia 1º de dezembro de 2011, foi instituída a Política Nacional de Saúde Integral de
                                Lésbicas, Gays, Bissexuais, Travestis e Transexuais (Política Nacional de Saúde Integral
                                LGBT) no âmbito do Sistema Único de Saúde (SUS).
                            </p>
                        </div>
                    </a>

                    <a class="artigo"
                       href="https://drauziovarella.uol.com.br/endocrinologia/como-funciona-a-hormonioterapia-para-mulheres-trans/">
                        <figure class="artigo-image is-16by9">
                            <img src="~/img/hormonioterapia.jpg" alt="">
                        </figure>
                        <div class="artigo-body">
                            <h2 class="artigo-title">
                                Como funciona a hormonioterapia para mulheres trans
                            </h2>
                            <p class="artigo-content">
                                A terapia com hormônios para transição de gênero deve ser feita sempre com
                                acompanhamento profissional.
                                <br>
                                A hormonioterapia é um dos recursos disponíveis para a transição de gênero de mulheres
                                trans, cujo sexo designado no nascimento foi o masculino, mas que se identificam e se
                                expressam no feminino.
                            </p>
                        </div>
                    </a>
                </div>


                <div class="column">
                    <a class="artigo" href="https://www.aurum.com.br/blog/nome-social/">
                        <figure class="artigo-image is-16by9">
                            <img src="~/img/nome-social.jpg" alt="">
                        </figure>
                        <div class="artigo-body">
                            <h2 class="article-title">
                                Aspectos relevantes sobre o nome social e o direito à alteração do nome
                            </h2>
                            <p class="artigo-content">
                                Todas as pessoas têm o direito de serem registradas com um nome, que é considerado,
                                desde o advento do Código Civil de 2002, um direito da personalidade.
                            </p>
                        </div>
                    </a>
                    <a class="artigo" href="https://treediversidade.com.br/diferenca-entre-diversidade-e-inclusao/">
                        <div class="artigo-body">
                            <h2 class="artigo-title">
                                Entenda a diferença entre diversidade e inclusão
                            </h2>
                            <p class="artigo-content">
                                Você sabe qual é a diferença entre diversidade e inclusão? As duas
                                palavras costumam aparecer sempre juntas, o que causa, muitas vezes,
                                uma certa confusão. A verdade é que cada uma remete a um conceito
                                diferente. Contudo, de fato, elas não podem andar separadas, pois são
                                complementares.

                            </p>
                        </div>
                    </a>
                    <a class="artigo"
                       href="https://www.cnnbrasil.com.br/business/10-empresas-que-fazem-diferenca-e-a-licao-de-casa-para-a-inclusao-de-lgbts/">
                        <div class="artigo-body">
                            <h2 class="artigo-title">
                                10 empresas que fazem diferença e a lição de casa para a inclusão de
                                LGBTs
                            </h2>
                            <p class="artigo-content">
                                Da sopa de letrinhas LGBTQI+, o “T” é, sem dúvida, a mais vulnerável, pontua Maite
                                Schneider, fundadora do TransEmpregos, uma ONG que ajuda a conectar oportunidades
                                de trabalho a pessoas trans. Segundo ela, atualmente há uma interlocução maior com o
                                mundo corporativo, que entende o valor da diversidade. Em 2014, um ano após a criação
                                da instituição, havia 14 empresas cadastradas, e, atualmente, são 452 parceiras.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="column" id="segunda">
            <a class="artigo" href="https://www.telavita.com.br/blog/adocao-homoafetiva/">
                <figure class="artigo-image is-3by2">
                    <img src="~/img/adocao-homo.jpg" alt="">
                </figure>
                <div class="artigo-body">
                    <h2 class="article-title">
                        Adoção homoafetiva: legalidade e preconceitos
                    </h2>
                    <p class="artigo-content">
                        47.460. Esse é o número de crianças e adolescentes que vivem em abrigos no
                        Brasil. Os dados do final de 2017 são do Conselho Nacional de Justiça. Entretanto, o
                        que chama mais a atenção desses dados é que somente 17,8% deles estão aptos
                        para a adoção e, consequentemente, encontrar uma nova família.
                    </p>
                </div>
            </a>
            <a class="artigo" href="https://brasil.un.org/pt-br/158788-campanha-de-seguranca-alimentar-apoia-populacao-lgbtqia">
                <figure class="artigo-image is-3by2">
                    <img src="~/img/seguranca-alimentar.png" alt="">
                </figure>
                <div class="artigo-body">
                    <h2 class="artigo-title">
                        Campanha de segurança alimentar apoia população LGBTQIA+
                    </h2>
                    <p class="artigo-content">
                        A campanha surge em um contexto de resposta aos impactos socioeconômicos da pandemia de
                        COVID-19, que afetou de forma desproporcional parcelas mais vulnerabilizadas da população, entre
                        elas, pessoas LGBTQIA+, especialmente trans e travestis.
                    </p>
                </div>
            </a>

        </section>

</body>
