
<head>
    <link rel="stylesheet" href="~/css/layout.css">
    <link href="~/css/missao-visao-valores.css" rel="stylesheet">
</head>

<body>

    <main>
        <section class="mvv">
            <article class="sobre-nos">
                <h1>Sobre Nós</h1>
                <p>
                    Somos uma plataforma colaborativa que fomenta discussões em rede, objetivando a construção de espaços que garantam a inviolabilidade do direito à vida, à liberdade, à igualdade, à segurança e à propriedade. Atuando diretamente na dificuldade de acesso da população LGBTQIA+ aos diversos espaços de direito, promovendo cidadania, dignidade e equidade. Perpassando pelos conceitos de igualdade de gênero, redução da desigualdade, promoção de saúde e bem-estar e a erradicação da pobreza, atuando em 4 dos Objetivos de Desenvolvimentos Sustentáveis (ODS).
                </p>

            </article>
            <article class="missao">
                <h1>Missão</h1>
                <p>
                    Nossa missão é informar e conscientizar a sociedade brasileira sobre a história, luta e direitos da população LGBTQIA+, fomentando espaços de debate e discussão, através da construção de uma rede colaborativa e inclusiva.
                </p>
            </article>

            <article class="visao">
                <h1>Visão</h1>
                <p>Ser uma rede de referência para a população LGBTQIA+, fornecendo informações relevantes ao público alvo e servindo como ponte entre as diversas organizações atuantes na luta contra a discriminação, exclusão e todos os tipos de preconceito que violem os direitos á vida, à liberdade, a igualdade, a segurança e a propriedade, conforme o artigo 5º da Constituição Federal.</p>
            </article>

            <article class="valores">
                <h1>Valores</h1>
                <ul>
                    <li>Diversidade</li>
                    <li>Inclusão</li>
                    <li>Tolerância</li>
                    <li>Respeito</li>
                    <li>Transparência</li>
                    <li>Cidadania</li>
                    <li>Equidade</li>
                    <li>Dignidade</li>
                </ul>
            </article>
        </section>
    </main>

</body>