@model BeYouCRUD.Models.cadastroVagasEmprego

<head>
    <link rel="stylesheet" href="~/css/layout.css">
    <link href="~/css/cadastre.css" rel="stylesheet">
</head>

<body>


    <section>
        <div class="descricao">
            <h2>
                Editar
            </h2>
        </div>

        <form class="dados" asp-action="Edit">
            <label htmlFor="empresa">Empresa</label>
            <input asp-for="nome_empresa" type="text" placeholder="Nome da empresa contratante.." />

            <label htmlFor="cargo">Cargo</label>
            <input asp-for="cargo" type="text" placeholder="Cargo disponível..." />

            <label htmlFor="cidade">Cidade - UF</label>
            <input asp-for="cidade_UF" type="text" placeholder="EX: Belém - PA" />

            <label htmlFor="salario">Salário</label>
            <input asp-for="salario" type="text" placeholder="Salário oferecido.." />

            <label htmlFor="beneficio">Benefícios</label>
            <input asp-for="beneficios" type="text" placeholder="Benefícios oferecidos.." />

            <div class="form-group">
                <input type="submit" value="Salvar" />
            </div>

            <div>
                <a asp-action="verVagasDeEmprego" asp-controller="Home">Voltar</a>
            </div>
        </form>

    </section>
</body>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
