
.table {
    margin-top: 11%;
    background-color: rgba(251, 251, 251, 0.746);
    text-align: center;
}

th {  
  color: #000;
}

td {
    vertical-align: middle;
    color: #000;
    font-weight: bold;
}

footer {
  margin-top: 8%;
}


@media screen and (max-width: 500px) {

    .table {
      margin-top: 55%;
      vertical-align: middle;
      font-weight: bold;
    }

    .table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
      }

    .table th {
        vertical-align: middle;
    }
    
    .fim img {
      width: 8vw;
    }

    header {
        width: 100%;
      }
    
}

@media screen and (min-width: 501px) and (max-width: 830px) {
    .table {
        margin-top: 30%;
        vertical-align: middle;
        font-weight: bold;
      }
  
      .table tbody {
          width: auto;
          position: relative;
          overflow-x: auto;
          white-space: nowrap;
        }
  
      .table th {
          vertical-align: middle;
      }
      
      .fim img {
        width: 5vw;
      }
  
      header {
          width: 100%;
        }
      
      footer {
          width: 985px;
          margin-left: -22%;
          flex-shrink: 0;
          margin-top: 30%;
        }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .table {
        margin-top: 20%;
    }
}