@model BeYouCRUD.Models.cadastroCursos

<head>
    <link rel="stylesheet" href="~/css/layout.css">
    <link href="~/css/cadastre.css" rel="stylesheet">
</head>

<body>


    <section>
        <div class="descricao">
            <h2>
                Cadastre uma vaga de emprego.
            </h2>
            <h5>
                (As oportunidades cadastradas ficarão visíveis pro usuário na página "Capacitação / Cursos")
            </h5>
        </div>


        <form class="dados" asp-action="Create" method="post">
            <label htmlFor="escola">Escola</label>
            <input asp-for="nome_instituicao" type="text" placeholder="Nome da instituição.." />

            <label htmlFor="curso">Curso</label>
            <input asp-for="curso" type="text" placeholder="Curso disponível..." />

            <label htmlFor="cidade">Cidade - UF</label>
            <input asp-for="cidade_UF" type="text" placeholder="EX: Recife - PE" />

            <label htmlFor="duracao">Duração</label>
            <input asp-for="duracao" type="text" placeholder="Duração do curso.." />

            <label htmlFor="turno">Turno</label>
            <input asp-for="turno" type="text" placeholder="Turno do curso.." />

            <input type="submit" value="Enviar" />
        </form>
    </section>
</body>